.playground {
	margin: 1rem 0;
	padding: 1rem;
	padding-top: 0.5rem;
	border-radius: 0.25rem;
	background-color: #051c30;
}

.playground-controls {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.playground-button {
	border: 0;
	cursor: pointer;
	display: inline-block;
	margin-left: 0.5rem;
	background-color: transparent;
}

.playground-icon {
	color: white;
	width: 1rem;
	height: 1rem;
}

.playground-editor {
	overflow: auto;
	max-height: 30rem;	
}

.playground-preview {
	overflow: hidden;
	border-radius: 0.25rem;
}

