/* OVERRIDES */

.playground-console .sp-console-actions {
	display: none;
}

/* CUSTOM */

.playground {
	margin: 1rem 0;
	padding: 1rem;
	padding-top: 0.5rem;
	border-radius: 0.25rem;
	background-color: #051c30;
}

.playground-controls {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #042f40;
	margin-bottom: 0.5rem;
	padding-bottom: 0.5rem;
	justify-content: space-between;
}

.playground-external {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.playground-button {
	border: 0;
	cursor: pointer;
	display: inline-block;
	margin-left: 0.5rem;
	background-color: transparent;
}

.playground-icon {
	color: white;
	width: 1rem;
	height: 1rem;
}

.playground-editor {
	overflow: auto;
	max-height: 30rem;	
}

.playground-tab {
	color: #aaaaaa;
	border: 0;
	padding: 0.5rem;
	transition: ease-in-out color 300ms;
	background-color: transparent;
}

.playground-tab:hover {
	color: white;
}

.playground-tab.active {
	color: #fdf500;
}

.playground-outputs {
	overflow: hidden;
	border-radius: 0.25rem;
}

.playground-preview,
.playground-console {
	display: none;
}

.playground-preview.active,
.playground-console.active {
	display: block;
}

