.input {
	overflow: auto;
	max-height: 30rem;	
}

.editor {
	margin: 1rem 0;
	padding: 1rem;
	padding-top: 0.5rem;
	border-radius: 0.25rem;
	background-color: #051c30;
}

.preview {
	overflow: hidden;
	border-radius: 0.25rem;
}

